<a href="https://colab.research.google.com/github/AdityaPatil1705/Big-Mart-Data-Prediction-Using-Machine-Learning/blob/main/PYTHON_WORK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Welcome to Python")

Welcome to Python

In [2]:
print("Unpacking Collection")
fruits=['Apple','Banana','Orange']
x,y,z = fruits

print(x)
print(y)
print(z)

Unpacking Collection
Apple
Banana
Orange

In [3]:
print("Global variables Example")

a = "Aditya"

def myFunc():
  a = "Patil"
  print("My Surname Is ",a)

myFunc()

print("My name is ",a)

Global variables Example
My Surname Is  Patil
My name is  Aditya

In [4]:
print("Use Of Random")
import random

print(random.randrange(100,200))

Use Of Random
169

In [5]:
print("Check in String")
a = "hello Aditya here"
print("Aditya" in a)

Check in String
True

In [6]:
print("Check Not In String")
a = "hello Aditya here"
print("Aditya" not in a)

Check Not In String
False

**Modifying String**

In [7]:
a = 'aditya'
print(a.upper())

ADITYA

In [8]:
a = 'INDIAN'
print(a.lower())

indian

In [9]:
a = "        Hello World This Is my first program"
print(f"Before Strip : {a}")
print(f"After Strip : ",a.strip())

Before Strip :         Hello World This Is my first program
After Strip :  Hello World This Is my first program

In [10]:
print(a.replace("H","I"))

        Iello World This Is my first program

In [11]:
a = "Hello World ,This Is my first ,program"
print(a.split(","))

['Hello World ', 'This Is my first ', 'program']

# List

**List**

*List Items*

List items are ordered, changeable, and allow duplicate values.

In [12]:
myList = ["apple","banana","apple","orange","strawberry","pineapple"]
print(myList)

['apple', 'banana', 'apple', 'orange', 'strawberry', 'pineapple']

In [13]:
print(len(myList))

6

In [14]:
print(myList[4])

strawberry

In [15]:
print(myList[-2])

strawberry

In [16]:
print(myList[-4:-1])

['apple', 'orange', 'strawberry']

In [17]:
myList = ["apple","banana","apple","orange","strawberry","pineapple"]
if "orange" in myList:
  print("Orange Is present")

Orange Is present

**Insert Items**

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [18]:
myList.insert(2,"Guava")
print(myList)

['apple', 'banana', 'Guava', 'apple', 'orange', 'strawberry', 'pineapple']

**Append Items**

To add an item to the end of the list, use the append() method:

In [19]:
myList.append("Banana")
print(myList)

['apple', 'banana', 'Guava', 'apple', 'orange', 'strawberry', 'pineapple', 'Banana']

**Extend**

In [20]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Remove specified elements from list

In [21]:
myList.remove("Banana")
print(myList)

['apple', 'banana', 'Guava', 'apple', 'orange', 'strawberry', 'pineapple']

Remove element at specified index

If nothing is passed then it will pop the element at last

In [22]:
myList.pop(4)
print(myList)

['apple', 'banana', 'Guava', 'apple', 'strawberry', 'pineapple']

In [23]:
myList.pop()
print(myList)

['apple', 'banana', 'Guava', 'apple', 'strawberry']

In [24]:
clear = myList.clear()
print(clear)

None

In [25]:
myList = ["apple","banana","apple","orange","strawberry","pineapple"]
print(myList)

['apple', 'banana', 'apple', 'orange', 'strawberry', 'pineapple']

**Looping Through the list**

In [26]:
for x in myList:
  print(x)

apple
banana
apple
orange
strawberry
pineapple

In [27]:
for i in range(len(myList)):
  print(myList[i])

apple
banana
apple
orange
strawberry
pineapple

In [28]:
i = 0
while i<len(myList):
  print(myList[i])
  i+=1

apple
banana
apple
orange
strawberry
pineapple

In [29]:
newList=[]

for x in myList:
  if "p" in x:
    newList.append(x)

print(newList)

['apple', 'apple', 'pineapple']

In [30]:
comprehension = [x for x in myList if "o" in x]
print(comprehension)

['orange']

In [31]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [32]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

# Tuple

**Tuple**

A tuple is a collection which is ordered and unchangeable.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuples are written with round brackets.

In [33]:
myTuple = ("aditya","Avadhut","Kalpesh","Om","Sarthak")
print(type(myTuple))

<class 'tuple'>

Tuple with single element

In [34]:
singleTuple = ("aditya",)
print(type(singleTuple))

<class 'tuple'>

In [35]:
print(myTuple[:3])

('aditya', 'Avadhut', 'Kalpesh')

For update table first we have to convert it into list

In [36]:
updatedList = list(singleTuple)
updatedList.append("King")
newTuple = tuple(updatedList)
print(newTuple)

('aditya', 'King')

Unpacking Tuple

In [37]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [38]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [39]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Looping Through Tuple

In [40]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [41]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i += 1

apple
banana
cherry

In [42]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Set

**Set**

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [43]:
mySet = {"Aditya","Kalpesh","Avadhut","Dev","Pranav","Ferrari","Ferrari"}
print(mySet)
print(type(mySet))
print(len(mySet))

{'Dev', 'Ferrari', 'Pranav', 'Kalpesh', 'Aditya', 'Avadhut'}
<class 'set'>
6

In [44]:
for x in mySet:
  print(x)

Dev
Ferrari
Pranav
Kalpesh
Aditya
Avadhut

In [45]:
print("Ferrari" not in mySet)

False

In [46]:
mySet.add("Porsche")
print(mySet)

{'Dev', 'Ferrari', 'Pranav', 'Kalpesh', 'Aditya', 'Porsche', 'Avadhut'}

In [47]:
mySet2 = {"Suzuki","BMW"}
mySet.update(mySet2)
print(mySet)

{'Dev', 'BMW', 'Pranav', 'Ferrari', 'Aditya', 'Porsche', 'Kalpesh', 'Suzuki', 'Avadhut'}

Remove() will raise error if element is present

Instead, Use discard() so it will not raise error

In [48]:
mySet.remove("Pranav")
print(mySet)

{'Dev', 'BMW', 'Ferrari', 'Aditya', 'Porsche', 'Kalpesh', 'Suzuki', 'Avadhut'}

Remmoves random element

In [49]:
mySet.pop()
print(mySet)

{'BMW', 'Ferrari', 'Aditya', 'Porsche', 'Kalpesh', 'Suzuki', 'Avadhut'}

Join Sets

There are several ways to join two or more sets in Python.



1.   The union() and update() methods joins all items from both sets.
2.   The intersection() method keeps ONLY the duplicates.
3.   The difference() method keeps the items from the first set that are not in the other set(s).
4.   The symmetric_difference() method keeps all items EXCEPT the duplicates.

The union() method returns a new set with all items from both sets.

In [50]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [51]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'a', 'c', 'Elena', 'bananas', 'cherry', 'b', 'apple', 'John'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [52]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [53]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [54]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [55]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [56]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'cherry', 'google', 'banana'}

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

In [57]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'microsoft', 'cherry', 'google', 'banana'}

# Dictionary

**Dictionary**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [58]:
thisDict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisDict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [59]:
print(thisDict["year"])
print(len(thisDict))

1964
3

In [60]:
x= thisDict.get("brand")
print(x)

Ford

In [61]:
print(thisDict.keys())

dict_keys(['brand', 'model', 'year'])

In [62]:
print(thisDict.values())

dict_values(['Ford', 'Mustang', 1964])

In [63]:
print(thisDict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [64]:
thisDict["Range"]="15"
print(thisDict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('Range', '15')])

In [65]:
thisDict["year"] = 2018
print(thisDict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018), ('Range', '15')])

In [66]:
thisDict.update({"year":2024})
print(thisDict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2024), ('Range', '15')])

In [67]:
thisDict.pop("model")
print(thisDict)

{'brand': 'Ford', 'year': 2024, 'Range': '15'}

In [68]:
thisDict.popitem()
print(thisDict)

{'brand': 'Ford', 'year': 2024}

In [69]:
thisDict.update({"model":"mustang","range":2018})

In [70]:
for x in thisDict:
  print(x)

brand
year
model
range

In [71]:
for x in thisDict:
  print(thisDict[x])

Ford
2024
mustang
2018

In [72]:
for x in thisDict.values():
  print(x)

Ford
2024
mustang
2018

In [73]:
for x, y in thisDict.items():
  print(x, y)

brand Ford
year 2024
model mustang
range 2018

In [74]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionary

In [75]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [76]:
print(myfamily["child2"]["name"])

Tobias

In [77]:
for x,obj in myfamily.items():
  print(x)
  for y in obj:
    print(y+":",obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

SyntaxError: invalid syntax (<ipython-input-78-ce8fdd7d0fd3>, line 1)